:root {
  --blue: rgb(41, 80, 187);
  --indigo: #6610f2;
  --purple: #593196;
  --pink: #e83e8c;
  --red: #fc3939;
  --orange: #fd7e14;
  --yellow: #efa31d;
  --green: #13b955;
  --teal: #20c997;
  --text: #444;
  --cyan: #009cdc;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #593196;
  --secondary: #a991d4;
  --success: #13b955;
  --info: #009cdc;
  --warning: #efa31d;
  --danger: #fc3939;
  --light: #f9f8fc;
  --dark: #17141f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text);
  text-align: left;
  background-color: #fff;
}


h1,
h2,
h3
 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4
.h1,
.h2,
.h3 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.1875rem;
}
h2,
.h2 {
  font-size: 1.75rem;
}
h3,
.h3 {
  font-size: 1.53125rem;
}


.navbar {
  background: var(--gray-dark);
  box-shadow: 3px 3px 3px rgb(238, 232, 232);
  color: var(--white);
  padding: 10px;
  text-align: center;
}

.semantics {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.displayN {
  width: 80%;
}

.add-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(199, 199, 199, 0.2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(249, 248, 252, 0.5);
}
.add-header {
  display: flex;
  align-items: flex-start;
  padding: 7px 30px;
  background: #f0f0f0;
  border-bottom: 1px solid #fffffe;
}

.add-title {
  margin: 5px;
  font-size: 2em;
}
.add-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.add-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 9px 10px 0px;
  border-top: 1px solid #f9f8fc;
  margin-top: 10px;
}
.add-footer > :not(:first-child) {
  margin-left: 0.25rem;
}
.add-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::placeholder {
  color: #868e96;
  opacity: 1;
  font-size: 0.8em;
  font-weight: 200;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  font-size: 1rem;
  color: #9e9e9e;
}

input {
  width: 75%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 13px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

input::focus {
  border-bottom: 1px solid #f44336;
  -webkit-box-shadow: 0 1px 0 0 #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

.spinner {
  display: none;
  margin: 10px auto;
}

.error {
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.alert-heading {
  color: inherit;
}

.alert-success {
  color: #0a602c;
  background-color: #d0f1dd;
  border-color: #bdebcf;
}
.alert-success hr {
  border-top-color: #a9e5c1;
}
.alert-success .alert-link {
  color: #053217;
}

.alert-danger {
  color: #831e1e;
  background-color: #fed7d7;
  border-color: #fec8c8;
}
.alert-danger hr {
  border-top-color: #feafaf;
}
.alert-danger .alert-link {
  color: #5a1414;
}


.mianBtn{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-top: 20px ;
  border-top: 1px solid #e0e0e0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  color: var(--white);
}
.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
}
.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
}
.card-columns .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.singleNote {
  flex: 0 1 32%;
  margin-bottom: 20px;
}

#notes {
  padding: 30px 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

.flexC {
  width: 32%;
  margin: 0 5px;
}

@media screen and (max-width: 996px) {
  
  .flexC {
    width: 45%;
  }
}

@media screen and (max-width: 706px) {
  
  .flexC {
    width: 100%;
  }
}

.btn-success {
  color: #fff;
  background-color: #13b955;
  border-color: #13b955;
}
.btn-success:hover {
  color: #fff;
  background-color: #0f9645;
  border-color: #0e8b40;
}
.btn-success:focus,
.btn-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(19, 185, 85, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(19, 185, 85, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
  background-color: #13b955;
  border-color: #13b955;
}
.btn-success:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #0e8b40;
  border-color: #0d7f3a;
}
.btn-success:not([disabled]):not(.disabled):active:focus,
.btn-success:not([disabled]):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(19, 185, 85, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(19, 185, 85, 0.5);
}
.btn-warning {
  color: #17141f;
  background-color: #efa31d;
  border-color: #efa31d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #d78e0f;
  border-color: #cb870e;
}
.btn-warning:focus,
.btn-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(239, 163, 29, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(239, 163, 29, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
  background-color: #efa31d;
  border-color: #efa31d;
}
.btn-warning:not([disabled]):not(.disabled):active,
.btn-warning:not([disabled]):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #cb870e;
  border-color: #bf7f0e;
}
.btn-warning:not([disabled]):not(.disabled):active:focus,
.btn-warning:not([disabled]):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(239, 163, 29, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(239, 163, 29, 0.5);
}
.btn-danger {
  color: #fff;
  background-color: #fc3939;
  border-color: #fc3939;
}
.btn-danger:hover {
  color: #fff;
  background-color: #fb1313;
  border-color: #fb0707;
}
.btn-danger:focus,
.btn-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(252, 57, 57, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(252, 57, 57, 0.5);
}
.btn-danger.disabled,
.btn-danger:disabled {
  background-color: #fc3939;
  border-color: #fc3939;
}
.btn-danger:not([disabled]):not(.disabled):active,
.btn-danger:not([disabled]):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #fb0707;
  border-color: #f20404;
}
.btn-danger:not([disabled]):not(.disabled):active:focus,
.btn-danger:not([disabled]):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(252, 57, 57, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(252, 57, 57, 0.5);
}

#deleteNote {
  margin-left: 5px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #17141f;
  color: #f0f0f0;

  height: 60px;
}